<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpUrl" value="your-ftp-server-host.com"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="HttpUrl" value="https://your-domain.com/path-to-images-dir/"/>
  </appSettings>
</configuration>